.box{
	max-width: 1200px;
	height: 300px;
	margin: 0 auto;
	
}
.box p{
	font-size: 25px;
	color: black;

}
.a{
	padding: 40px 5% 0px 5%;
	width: 90%;
	height: 120px;
	font-size: 22px;
	background-color: #eee;
	text-align: center;
}
.a1{
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	background-color: #646de0;
	margin-right: 10%;
}
.a1 a{
	text-decoration: none;
	color: black;
}
.a1 a:hover{
	display: block;
	background-color: #8c93f1
}
.a2{
	text-align: left;
	float: left;
	width: 70%;
	height: 50px;
}
/*家长交流中心*/
.b{
	padding: 40px 5% 0px 5%;
	width: 90%;
	height: 120px;
	font-size: 22px;
	background-color: #eee;
	text-align: center;
}
.b1{
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	background-color: #646de0;
	margin-right: 10%;
}
.b1 a{
	text-decoration: none;
	color: black;
}
.b1 a:hover{
	display: block;
	background-color: #8c93f1
}
.b2{
	text-align: left;
	float: left;
	width: 70%;
	height: 50px;
}

#big{
	clear: both;
	height: 330px;
	width: 100%;
}