@media screen and (max-width: 1221px){
  .htmleaf-container{display: none;}
  #dong{text-align: center;
        padding-top:10px; }
  #dong img{width: 99%;
          max-width: 1210px;
          margin: 0px;
        }
}
@media screen and (min-width: 1222px){
          #dong{display: none;}
}

#line{
	clear: both;
	height: 1px;
	max-width: 1222px;
	background-color: blue;
	margin: 20px auto;
}
.news{
	color: blue;
	font-size: 25px;
	font-weight: bold;
	max-width: 1200px;
	margin: 0 auto;

}
.news1{
	max-width: 1200px;
	padding: 25px;
	height: 280px;
	margin: 0 auto;
	font-size: 23px;
	background-color: #eee;
	border: 1px solid #c9cece;
}
.news1 img{
	float: left;
	max-height: 100%;
	margin-right: 10px;
}
.se{
	max-width: 1200px;
	height: 350px;
	margin: 0px auto;
}
.box1{
	width: 48.8%;
	padding: 1%;
	float: left;
	height: 350px;
	font-size: 23px;
	background-color: #eee;
	border: 1px solid #c9cece;
}
.box2{
	width: 48.8%;
	padding: 1%;	
	float: right;
	height: 350px;
	font-size: 23px;
	background-color: #eee;
	border: 1px solid #c9cece;
}

.se img{
	float: left;
	height: 150px;
	margin-right: 10px;
}

.se h1{
	color: black;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

